{{! BEGIN-SNIPPET svg-snippet.hbs}}
<div class="svg-move">
  <button type="button" {{on "click" this.move}}>Move</button>
</div>
<svg width="600" height="600" >
  {{#animated-each this.bubbles key="id" watch="x,y,r" use=this.moveThem duration=1000 as |bubble|}}
    <circle id="bubble-{{bubble.id}}" cx="{{bubble.x}}%" cy="{{bubble.y}}%" r={{bubble.radius}} fill="white" stroke="black" />
  {{/animated-each}}
</svg>
{{outlet}}
{{! END-SNIPPET }}
