<div class="scenario-swapping-lists">
  <div style="position: absolute; top: 0; left: 0">
    {{animated-orphans}}
  </div>
  <div>
    <button {{action "swap"}}>Swap</button>
    <label><input type="checkbox" checked={{this.distinguishSides}} onchange={{action (mut this.distinguishSides) (not this.distinguishSides)}}>Distinguish by color</label>
    <label class="sending-side"><input type="checkbox" checked={{this.animateSendingSide}} onchange={{action (mut this.animateSendingSide) (not this.animateSendingSide)}}> Animate sending side</label>
  </div>

  {{#if this.leftItems}}
    <AnimatedContainer class="left">
      {{#animated-each this.leftItems use=this.transition key="id" as |item|}}
        <div class={{if this.distinguishSides "left-item"}} >
          {{item.id}}
        </div>
      {{/animated-each}}
    </AnimatedContainer>
  {{else}}
    <AnimatedContainer class="right">
      {{#animated-each this.rightItems use=this.transition key="id" as |item|}}
        <div>
          {{item.id}}
        </div>
      {{/animated-each}}
    </AnimatedContainer>
  {{/if}}
</div>
