<div class="scenario-each">
  <button type="button" {{action "addItem"}}>Add Item</button>
  <button type="button" {{action "shuffle"}}>Shuffle</button>
  <button type="button" {{action "sortNumeric"}}>Sort</button>
  {{#if this.chaos.isRunning}}
    <button type="button" {{action "stopChaos"}}>Stop</button>
  {{else}}
    <button type="button" {{action "startChaos"}}>Auto</button>
  {{/if}}

  <AnimatedContainer>
    {{#animated-each this.items key="id" use=this.transition as |item|}}
      <div>
        {{item.id}}
        <button type="button" {{action "removeItem" item}}>X</button>
        <button type="button" {{action "replaceItem" item}}>R</button>
        <button type="button" {{action "mutate" item}}>M</button>
      </div>
    {{/animated-each}}
  </AnimatedContainer>

  This is after the list. {{this.message}}
</div>
