{{#let
  (track false) (track false) (track false) (track false) (track false)
  as |disableMove disableCompensateForScale disableAdjustFontSize disableAdjustLetterSpacing disableAdjustColor|
}}
  <div class="motion-menu">
    <label>
      <input
        type="checkbox"
        checked={{not disableMove.value}}
        {{on "change" (fn disableMove.update (not disableMove.value))}}
      >
      Move
    </label>
    <label>
      <input
        type="checkbox"
        checked={{not disableCompensateForScale.value}}
        {{on "change" (fn disableCompensateForScale.update (not disableCompensateForScale.value))}}
      >
      Compensate For Scale
    </label>
    <label>
      <input
        type="checkbox"
        checked={{not disableAdjustFontSize.value}}
        {{on "change" (fn disableAdjustFontSize.update (not disableAdjustFontSize.value))}}
      >
      Adjust Font Size
    </label>
    <label>
      <input
        type="checkbox"
        checked={{not disableAdjustLetterSpacing.value}}
        {{on "change" (fn disableAdjustLetterSpacing.update (not disableAdjustLetterSpacing.value))}}
      >
      Adjust Letter Spacing
    </label>
    <label>
      <input
        type="checkbox"
        checked={{not disableAdjustColor.value}}
        {{on "change" (fn disableAdjustColor.update (not disableAdjustColor.value))}}
      >
      Adjust Color
    </label>
  </div>
  {{yield
    (hash
      moving-word=(component "moving-word"
        disableMove=disableMove.value
        disableCompensateForScale=disableCompensateForScale.value
        disableAdjustFontSize=disableAdjustFontSize.value
        disableAdjustLetterSpacing=disableAdjustLetterSpacing.value
        disableAdjustColor=disableAdjustColor.value
      )
    )
  }}
{{/let}}