<div class="motion-menu">
  <label>
    <input
      type="checkbox"
      checked={{not this.disableMove}}
      {{on "change" (fn (mut this.disableMove) (not this.disableMove))}}
    >
    Move
  </label>
  <label>
    <input
      type="checkbox"
      checked={{not this.disableCompensateForScale}}
      {{on "change" (fn (mut this.disableCompensateForScale) (not this.disableCompensateForScale))}}
    >
    Compensate For Scale
  </label>
  <label>
    <input
      type="checkbox"
      checked={{not this.disableAdjustFontSize}}
      {{on "change" (fn (mut this.disableAdjustFontSize) (not this.disableAdjustFontSize))}}
    >
    Adjust Font Size
  </label>
  <label>
    <input
      type="checkbox"
      checked={{not this.disableAdjustLetterSpacing}}
      {{on "change" (fn (mut this.disableAdjustLetterSpacing) (not this.disableAdjustLetterSpacing))}}
    >
    Adjust Letter Spacing
  </label>
  <label>
    <input
      type="checkbox"
      checked={{not this.disableAdjustColor}}
      {{on "change" (fn (mut this.disableAdjustColor) (not this.disableAdjustColor))}}
    >
    Adjust Color
  </label>
</div>
{{yield
  (hash
    moving-word=(component "moving-word"
      disableMove=this.disableMove
      disableCompensateForScale=this.disableCompensateForScale
      disableAdjustFontSize=this.disableAdjustFontSize
      disableAdjustLetterSpacing=this.disableAdjustLetterSpacing
      disableAdjustColor=this.disableAdjustColor
    )
  )
}}