{{! BEGIN-SNIPPET between-components-snippet.hbs }}
<div class="scenario-sprites clearfix">

  <div class="controls">
    <label>
      Delete Undo
      <input
        type="checkbox"
        checked={{this.deleteUndo}}
        {{on "change" this.toggleDeleteUndo}}
      >
    </label>
  </div>

  <div class="top-bar">
    <AnimatedBeacon @name="add">
      <button type="button" {{on "click" this.addItem}}>{{svg-jar "envelope-big"}}</button>
    </AnimatedBeacon>

    <AnimatedBeacon @name="trash">
      {{svg-jar "trash-big"}}
    </AnimatedBeacon>

    <div class="mail-buttons">
      {{svg-jar "mail-reply-big"}}
      {{svg-jar "mail-reply-all-big"}}
      {{svg-jar "mail-forward-big"}}
    </div>
  </div>

  <AnimatedContainer>
    <div class="sidebar">
      <table>
        <tbody>
          <th>Mail {{svg-jar "caret-down"}}</th>
          <tr>
            <td>{{svg-jar "inbox"}} Inbox({{this.items.length}})</td>
          </tr>
          <tr>
            <td>{{svg-jar "paper-plane"}} Sent Mail</td>
          </tr>
          <tr>
            <td>{{svg-jar "edit"}} Drafts(3)</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="inbox">
      {{#animated-each this.items use=this.transition as |item|}}
        <div class="each-item">
          <input
            type="checkbox"
            aria-label="Remove {{item.message}} from list"
            {{on "click" (fn this.removeItem item)}}
          >
          <div class="message">{{item.message}}</div>
          <div class="date">{{moment-format this.now "MMM D"}}</div>
        </div>
      {{/animated-each}}
    </div>
  </AnimatedContainer>

</div>

{{! END-SNIPPET }}
