{{! BEGIN-SNIPPET between-components-snippet.hbs }}
<div class="scenario-sprites clearfix">

  <div class="controls">
    <label>Delete Undo<input type="checkbox" checked={{deleteUndo}} onchange={{action (mut deleteUndo) (not deleteUndo)}}></label>
  </div>

  <div class="top-bar">
    {{#animated-beacon name="add"}}
      <button {{action "addItem" item}}>{{svg-jar "envelope-big"}}</button>
    {{/animated-beacon}}

    {{#animated-beacon name="trash"}}
      {{svg-jar "trash-big"}}
    {{/animated-beacon}}

    <div class="mail-buttons">
      {{svg-jar "mail-reply-big"}}
      {{svg-jar "mail-reply-all-big"}}
      {{svg-jar "mail-forward-big"}}
    </div>
  </div>

  {{#animated-container}}
    <div class="sidebar">
      <table>
        <th>Mail {{svg-jar "caret-down"}}</th>
        <tr>
          <td>{{svg-jar "inbox"}} Inbox({{items.length}})</td>
        </tr>
        <tr>
          <td>{{svg-jar "paper-plane"}} Sent Mail</td>
        </tr>
        <tr>
          <td>{{svg-jar "edit"}} Drafts(3)</td>
        </tr>
      </table>
    </div>
    <div class="inbox">
      {{#animated-each items use=transition as |item|}}
        <div class="each-item">
          <input type="checkbox" onclick={{action "removeItem" item}}>
          <div class="message">{{item.message}}</div>
          <div class="date">{{moment-format now "MMM D"}}</div>
        </div>
      {{/animated-each}}
    </div>
  {{/animated-container}}

</div>

{{! END-SNIPPET }}
