{{! BEGIN-SNIPPET between-two-lists-example-snippet.hbs }}
<div class="scenario-two-lists clearfix">
  <div class="party">The Dinner Party Guest List</div>

  <div class="bounce">
    {{svg-jar "rotate-left"}} <input type="checkbox" checked={{bounceBack}} onchange={{action (mut bounceBack) (not bounceBack)}}>
  </div>

  {{#animated-container}}

    {{#animated-container class="left"}}
      <div class="guest-list-header">Going{{svg-jar "chevron-down"}}</div>
      {{#animated-each leftItems use=transition as |item|}}
        <div class="each-item">
          <div class="icon">
            <img src={{item.image}}>
          </div>
          <div class="name">{{item.message}}</div>
          <button {{action "move" item}}>{{svg-jar "ban"}}</button>
        </div>
      {{/animated-each}}
    {{/animated-container}}


    {{#animated-container class="right"}}
      <div class="guest-list-header">Can't Go{{svg-jar "chevron-down"}}</div>
      {{#animated-each rightItems use=transition as |item|}}
        <div class="each-item">
          <div class="icon"><img src={{item.image}}></div>
          <div class="name">{{item.message}}</div>
          <button {{action "move" item}}>{{svg-jar "check"}}</button>
        </div>
      {{/animated-each}}
    {{/animated-container}}

  {{/animated-container}}


</div>
{{! END-SNIPPET }}