<div class="scenario-bind">
  {{#animated-container}}
    {{#animated-value counter rules=rules duration=1000 as |v|}}
      <span class="left-count">{{v}}</span>
    {{/animated-value}}
  {{/animated-container}}

  {{#if showBoth}}
    {{#animated-container}}
      {{#animated-value counter rules=rules2 duration=1000 as |v|}}
        <span class="right-count">{{v}}</span>
      {{/animated-value}}
    {{/animated-container}}
  {{/if}}

  <button {{action "increment"}}>+</button>
  <button {{action "decrement"}}>-</button>
  {{input type="checkbox" checked=showBoth}}
</div>
