<div class="scenario-bind clearfix">
  <AnimatedContainer>
    {{#animated-value this.counter rules=this.rules duration=1000 as |v|}}
      <span class="left-count">{{v}}</span>
    {{/animated-value}}
  </AnimatedContainer>

  {{#if this.showBoth}}
    <AnimatedContainer>
      {{#animated-value this.counter rules=this.rules2 duration=1000 as |v|}}
        <span class="right-count">{{v}}</span>
      {{/animated-value}}
    </AnimatedContainer>
  {{/if}}

  <button type="button" {{on "click" this.increment}}>+</button>
  <button type="button" {{on "click" this.decrement}}>-</button>
  <input
    type="checkbox"
    aria-label="Toggle both left and right value visibility"
    checked={{this.showBoth}}
    {{on "change" this.toggleShowBoth}}
  >
</div>
