<svg name="chart" width="1000" height="480" 
    version="1.1" xmlns="http://www.w3.org/2000/svg">
  <rect width="100%" height="100%" stroke="black" stroke-width="3" fill="transparent" />

  <svg name="chart_field" width="92%" height="86%" x="7%" y="2%" 
      version="1.1" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <radialGradient id="grad">
        <stop offset="10%" stop-color="yellow"/>
        <stop offset="95%" stop-color="aqua"/>
      </radialGradient>
    </defs>
    {{#each points as |point|}}
    <g>
      <title>{{point.country}}<br>{{point.population}} people<br>${{point.gdp}} income/capita<br>{{point.life}} years expected
      </title>
      <circle 
        cx={{scale point.gdp minValue=400 maxValue=190000}} 
        cy={{scale-y point.life minValue=10 maxValue=90}}
        r="2" 
        stroke="red" 
        fill="red" 
      />
    </g>
    {{/each}}

    {{!-- <circle 
        cx="50" 
        cy="300"
        r={{scale-circle 2100 minValue=2000 maxValue="1380000000"}} 
        fill="url(#grad)"
    />
    <circle 
        cx="200" 
        cy="300"
        r={{scale-circle 700000000 minValue=2000 maxValue="1380000000"}} 
        fill="url(#grad)"
    />
    <circle 
        cx="700" 
        cy="300"
        r={{scale-circle 1370000000 minValue=2000 maxValue="1380000000"}} 
        fill="url(#grad)"
    /> --}}

  </svg>

  <svg name="x-axis_Income" width="92%" height="12%" x="7%" y="87.8%" 
      version="1.1" xmlns="http://www.w3.org/2000/svg">
    <line x1="" x2="100%" y1="1%" y2="1%" stroke="grey" stroke-width="1"/>
      <line x1="10%" x2="10%" y1="" y2="10%" stroke="grey" stroke-width="1"/>
      <line x1="20%" x2="20%" y1="" y2="10%" stroke="grey" stroke-width="1"/>
      <line x1="30%" x2="30%" y1="" y2="10%" stroke="grey" stroke-width="1"/>
      <line x1="40%" x2="40%" y1="" y2="10%" stroke="grey" stroke-width="1"/>
      <line x1="50%" x2="50%" y1="" y2="10%" stroke="grey" stroke-width="1"/>
      <line x1="60%" x2="60%" y1="" y2="10%" stroke="grey" stroke-width="1"/>
      <line x1="70%" x2="70%" y1="" y2="10%" stroke="grey" stroke-width="1"/>
      <line x1="80%" x2="80%" y1="" y2="10%" stroke="grey" stroke-width="1"/>
      <line x1="90%" x2="90%" y1="" y2="10%" stroke="grey" stroke-width="1"/>
    <text x="45%" y="90%" font-family="Verdana" font-size="16">
      Income</text>
  </svg>

  <svg name="y-axis_Life" width="6.75%" height="86%" x="0.3%" y="2%" 
      version="1.1" xmlns="http://www.w3.org/2000/svg">
    <line x1="99.5%" x2="99.5%" y1="" y2="100%" stroke="grey" stroke-width="1"/>
      <line x1="90%" x2="100%" y1="10%" y2="10%" stroke="grey" stroke-width="1"/>
      <line x1="90%" x2="100%" y1="20%" y2="20%" stroke="grey" stroke-width="1"/>
      <line x1="90%" x2="100%" y1="30%" y2="30%" stroke="grey" stroke-width="1"/>
      <line x1="90%" x2="100%" y1="40%" y2="40%" stroke="grey" stroke-width="1"/>
      <line x1="90%" x2="100%" y1="50%" y2="50%" stroke="grey" stroke-width="1"/>
      <line x1="90%" x2="100%" y1="60%" y2="60%" stroke="grey" stroke-width="1"/>
      <line x1="90%" x2="100%" y1="70%" y2="70%" stroke="grey" stroke-width="1"/>
      <line x1="90%" x2="100%" y1="80%" y2="80%" stroke="grey" stroke-width="1"/>
      <line x1="90%" x2="100%" y1="90%" y2="90%" stroke="grey" stroke-width="1"/>
    <text x="-90%" y="4%" font-family="Verdana" font-size="16" transform="rotate(270 87 88)">
      Life expectancy</text>
  </svg>
  
</svg>
<br>
{{currentYear}}
{{input type='range' min='1950' max='2015' value=currentYear}} 