<div class="scenario-each">
  <button {{action "addItem"}}>Add Item</button>
  <button {{action "shuffle"}}>Shuffle</button>
  <button {{action "sortNumeric"}}>Sort</button>
  {{#if chaos.isIdle}}
    <button {{action (perform startChaos)}}>Auto</button>
  {{else}}
    <button {{action (perform stopChaos)}}>Stop</button>
  {{/if}}

  {{#animated-container}}
    {{#animated-each items key="id" rules=rules as |item|}}
      <div>
        {{item.id}}
        <button {{action "removeItem" item}}>X</button>
        <button {{action "replaceItem" item}}>R</button>
        <button {{action "mutate" item}}>M</button>
      </div>
    {{/animated-each}}
  {{/animated-container}}

  This is after the list. {{message}}
</div>
