<div class="scenario-each">
  <button {{action "addItem"}}>Add Item</button>
  <button {{action "shuffle"}}>Shuffle</button>
  <button {{action "sortNumeric"}}>Sort</button>
  {{#if chaos.isRunning}}
    <button {{action "stopChaos"}}>Stop</button>
  {{else}}
    <button {{action "startChaos"}}>Auto</button>
  {{/if}}

  {{#animated-container}}
    {{#animated-each items key="id" rules=rules as |item animator|}}
      <div>
        {{item.id}}
        <button {{action "removeItem" item}}>X</button>
        <button {{action "replaceItem" item}}>R</button>
        {{#animator.mark-sprite (concat "mutate-" item.id)}}
          <button {{action "mutate" item}}>M</button>
        {{/animator.mark-sprite}}
      </div>
    {{/animated-each}}
  {{/animated-container}}

  This is after the list. {{message}}
</div>
