{{! BEGIN-SNIPPET moving-word-text-snippet.hbs }}
<div class="moving-word-demo">
  <div style="position: absolute">{{animated-orphans}}</div>
  <button {{action "toggle"}}>Toggle</button>

  {{#moving-words-demo as |demo|}}
    <AnimatedContainer>
      {{#animated-if listMode use=fade duration=1000 }}
        <ul>
          <li>{{demo.moving-word "framework"}}</li>
          <li>{{demo.moving-word "ambitious"}}</li>
          <li>{{demo.moving-word "applications"}}</li>
        </ul>
      {{else}}
        <p style="color: lightblue; font-size: 20px; letter-spacing: .2rem">
          A {{demo.moving-word "framework"}} for creating {{demo.moving-word "ambitious"}} web {{demo.moving-word "applications"}}.
        </p>
      {{/animated-if}}
    </AnimatedContainer>
  {{/moving-words-demo}}

</div>
{{! END-SNIPPET }}