<div class="motion-menu">
  <label><input type="checkbox" checked={{not disableMove}} onchange={{action (mut disableMove) (not disableMove)}}> Move</label>
  <label><input type="checkbox" checked={{not disableCompensateForScale}} onchange={{action (mut disableCompensateForScale) (not disableCompensateForScale)}}> Compensate For Scale</label>
  <label><input type="checkbox" checked={{not disableAdjustFontSize}} onchange={{action (mut disableAdjustFontSize) (not disableAdjustFontSize)}}> Adjust Font Size</label>
  <label><input type="checkbox" checked={{not disableAdjustLetterSpacing}} onchange={{action (mut disableAdjustLetterSpacing) (not disableAdjustLetterSpacing)}}> Adjust Letter Spacing</label>
  <label><input type="checkbox" checked={{not disableAdjustColor}} onchange={{action (mut disableAdjustColor) (not disableAdjustColor)}}> Adjust Color</label>
</div>
{{yield (hash moving-word=(component "moving-word"  disableMove=disableMove
                                                    disableCompensateForScale=disableCompensateForScale
                                                    disableAdjustFontSize=disableAdjustFontSize
                                                    disableAdjustLetterSpacing=disableAdjustLetterSpacing
                                                    disableAdjustColor=disableAdjustColor
                                            )) }}