{{! BEGIN-SNIPPET sprites-snippet.hbs }}
<div class="scenario-sprites clearfix">
  <div class="top-bar">
    <button {{action "addItem"}}>{{svg-jar "envelope-big"}}</button>
    <button {{action "deleteItems"}}>{{svg-jar "trash-big"}}</button>
     <div class="mail-buttons">
      {{svg-jar "mail-reply-big"}}
      {{svg-jar "mail-reply-all-big"}}
      {{svg-jar "mail-forward-big"}}
    </div>
  </div>

  {{#animated-container}}
    <div class="sidebar">
      <table>
        <th>Mail {{svg-jar "caret-down"}}</th>
        <tr>
          <td>{{svg-jar "inbox"}} Inbox({{items.length}})</td>
        </tr>
        <tr>
          <td>{{svg-jar "paper-plane"}} Sent Mail</td>
        </tr>
        <tr>
          <td>{{svg-jar "edit"}} Drafts(3)</td>
        </tr>
      </table>
    </div>
    <div class="inbox">
      {{#animated-each items use=transition as |item|}}
        <div class="each-item">
          <input type="checkbox" checked={{item.deleteMessage}} onchange={{action (mut item.deleteMessage) (not item.deleteMessage)}}>
          <div class="message">{{item.message}}</div>
          {{!-- <div class="person">{{item.person}}</div> --}}
          <div class="date">{{moment-format now 'MMM D'}}</div>
        </div>
      {{/animated-each}}
    </div>
  {{/animated-container}}
</div>
{{! END-SNIPPET }}
