{{! BEGIN-SNIPPET sprites-snippet.hbs }}
<div class="scenario-sprites clearfix">
  <div class="message">
    <label>Delete</label><input type="checkbox" checked={{deleteAll}} onclick={{action "deleteItems"}}>
    <button {{action "addItem"}}>Send/Receive</button>
  </div>

  {{#animated-container}}
    {{#animated-each items use=transition as |item|}}
      <div class="each-item">
        <input type="checkbox" checked={{item.deleteMessage}} onchange={{action (mut item.deleteMessage) (not item.deleteMessage)}}>
        {{item.message}}
      </div>
    {{/animated-each}}
  {{/animated-container}}
</div>
{{! END-SNIPPET }}
