<div class="scenario-swapping-lists">
  {{animated-orphans}}
  <div>
    <button {{action "swap"}}>Swap</button>
    <label>{{input type="checkbox" checked=distinguishSides}} Distinguish by color</label>
    <label class="sending-side">{{input type="checkbox" checked=animateSendingSide}} Animate sending side</label>
  </div>

  {{#if leftItems}}
    {{#animated-container class="left"}}
      {{#animated-each leftItems use=transition key="id" as |item|}}
        <div class={{if distinguishSides "left-item"}} >
          {{item.id}}
        </div>
      {{/animated-each}}
    {{/animated-container}}
  {{else}}
    {{#animated-container class="right"}}
      {{#animated-each rightItems use=transition key="id" as |item|}}
        <div>
          {{item.id}}
        </div>
      {{/animated-each}}
    {{/animated-container}}
  {{/if}}
</div>
