<div>
  <label>Speed {{speed}}x</label>
  <div>
    <div class="ea-time-control--tick-marks">
      {{#each tickMarks as |tickMark|}}
      <div style={{tickMark.position}}>
        <button {{action tickMarkChosen tickMark}} >{{tickMark.text}}</button>
      </div>
      {{/each}}
    </div>
    <input class="ea-time-control--slider" type="range" value={{readonly speed}} min=0 max=1 step=0.05 oninput={{action updateSpeed}}  >
  </div>
</div>
