<div class="scenario-two-lists2 clearfix">
  <div class="controls">
    <label>
      Bounce back
      <input
        type="checkbox"
        checked={{this.bounceBack}}
        {{on "change" this.toggleBounceBack}}
      >
    </label>
  </div>

  <AnimatedContainer>
    {{#animated-each this.leftItems use=this.transition as |item|}}
      <div>
        {{item.id}}
        <button type="button" {{on "click" (fn this.move item this.bounceBack)}}>&rarr;</button>
      </div>
    {{/animated-each}}
  </AnimatedContainer>

  <AnimatedContainer>
    {{#animated-each this.rightItems use=this.transition as |item|}}
      <div>
        <button type="button" {{on "click" (fn this.move item this.bounceBack)}}>&larr;</button>
        {{item.id}}
      </div>
    {{/animated-each}}
  </AnimatedContainer>

</div>