<div class="scenario-two-lists">
  <div class="controls">
    <label>Bounce back {{input type="checkbox" checked=bounceBack}}</label>
  </div>

  {{#animated-container}}
    {{#animated-each leftItems use=transition as |item|}}
      <div>
        {{item.id}}
        <button {{action "move" item}}>&rarr;</button>
      </div>
    {{/animated-each}}
  {{/animated-container}}

  {{#animated-container}}
    {{#animated-each rightItems use=transition as |item|}}
      <div>
        <button {{action "move" item}}>&larr;</button>
        {{item.id}}
      </div>
    {{/animated-each}}
  {{/animated-container}}

</div>
