<div class="scenario-two-lists">
  <div class="controls">
    <label>Bounce back <input type="checkbox" checked={{bounceBack}} onchange={{action (mut bounceBack) (not bounceBack)}}></label>

    <label>scale:</label>

    <button onclick={{action 'changeScale' 0.5}}>50%</button>
    <button onclick={{action 'changeScale' 0.8}}>80%</button>
    <button onclick={{action 'changeScale' 0.9}}>90%</button>
    <button onclick={{action 'changeScale' 1}}>100%</button>
    <button onclick={{action 'changeScale' 1.1}}>110%</button>
    <button onclick={{action 'changeScale' 1.2}}>120%</button>
    <button onclick={{action 'changeScale' 1.5}}>150%</button>
  </div>

  {{#animated-container}}
    {{#animated-each leftItems use=transition as |item|}}
      <div>
        {{item.id}}
        <button {{action "move" item}}>&rarr;</button>
      </div>
    {{/animated-each}}
  {{/animated-container}}

  {{#animated-container}}
    {{#animated-each rightItems use=transition as |item|}}
      <div>
        <button {{action "move" item}}>&larr;</button>
        {{item.id}}
      </div>
    {{/animated-each}}
  {{/animated-container}}
</div>
