<div class="scenario-direct-style">
  <div>
    <button type="button" {{on "click" this.go}}>Go</button>
  </div>

  <AnimatedContainer>
    {{#animated-each this.items use=this.transition key="id" watch="style" as |item|}}
      <div class="scenario-direct-style--item" style={{item.style}} >
        {{item.id}}
      </div>
    {{/animated-each}}

    {{#each this.items key="id" as |item|}}
      <div class="scenario-direct-style--item scenario-direct-style--frame" style={{item.style}}>
        {{item.id}}
      </div>
    {{/each}}

  </AnimatedContainer>
</div>
