<div class="scenario-direct-style">
  <div>
    <button {{action "go"}}>Go</button>
  </div>

  {{#animated-container}}
    {{#animated-each items use=transition key="id" watch="style" as |item|}}
      <div class="scenario-direct-style--item" style={{item.style}} >
        {{item.id}}
      </div>
    {{/animated-each}}

    {{#each items key="id" as |item|}}
      <div class="scenario-direct-style--item scenario-direct-style--frame" style={{item.style}} >
        {{item.id}}
      </div>
    {{/each}}

  {{/animated-container}}
</div>
