<div class="inline-text-scenario">
  <div style="position: absolute">{{animated-orphans}}</div>
  <button {{action "toggle"}}>Toggle</button>

  {{#animated-if tableMode use=fade duration=1000 }}
    <ul>
      <li>{{animated-text "framework"}}</li>
      <li>{{animated-text "ambitious"}}</li>
      <li>{{animated-text "applications"}}</li>
    </ul>
  {{else}}
    <p>
      A {{animated-text "framework"}} for creating {{animated-text "ambitious"}} web {{animated-text "applications"}}.
    </p>
  {{/animated-if}}
</div>