{{#if message}}
  <div class="scenario-modal--container">
    <AnimatedValue @value="background" @use={{backgroundTransition}} @initialInsertion={{true}} @finalRemoval={{true}}>
      <div class="scenario-modal--background" {{action showMessage ""}}></div>
    </AnimatedValue>
    <AnimatedValue @value={{message}} @use={{dialogTransition}} @initialInsertion={{true}} @finalRemoval={{true}} as |currentMessage|>
      <div class="scenario-modal--contents">
        <h3>Alert! {{currentMessage}}</h3>
      </div>
    </AnimatedValue>
  </div>
{{/if}}

<button {{action showRandomMessage}}>Show</button>
<button disabled={{not lastMessage}} {{action showPreviousMessage}}>Show Previous</button>


<AnimatedOrphans />