{{#if this.message}}
  <div class="scenario-modal--container">
    <AnimatedValue @value="background" @use={{this.backgroundTransition}} @initialInsertion={{true}} @finalRemoval={{true}}>
      <div
        class="scenario-modal--background"
        role="button"
        {{on "click" (fn this.showMessage "")}}
      />
    </AnimatedValue>
    <AnimatedValue @value={{this.message}} @use={{this.dialogTransition}} @initialInsertion={{true}} @finalRemoval={{true}} as |currentMessage|>
      <div class="scenario-modal--contents">
        <h3>Alert! {{currentMessage}}</h3>
      </div>
    </AnimatedValue>
  </div>
{{/if}}

<button type="button" {{on "click" this.showRandomMessage}}>Show</button>
<button type="button" disabled={{not this.lastMessage}} {{on "click" this.showPreviousMessage}}>Show Previous</button>


<AnimatedOrphans />
