<button type="button" {{on "click" this.addCollection}}>New Collection</button>
<button type="button" {{on "click" this.addMembers}}>Add many</button>
<AnimatedContainer>
  {{#animated-each this.collections use=this.transition key="title" as |collection|}}
    <div>
      <h2>{{collection.title}}</h2>
      <button type="button" {{on "click" (fn this.addMember collection)}}>Add</button>

      <AnimatedContainer @tagName="ul">
        {{#animated-each collection.members use=this.transition key="name" as |member|}}
          <li>{{member.name}}</li>
        {{/animated-each}}
      </AnimatedContainer>

    </div>
  {{/animated-each}}
</AnimatedContainer>