{{! template-lint-disable no-invalid-interactive }}
<div
  class="pb-4 w-full"
  ...attributes
  {{on "mouseenter" this.cancelProgress}}
  {{on "mouseleave" this.resumeProgress}}
>
  <div class="relative bg-grey-darkest text-white text-sm rounded overflow-hidden px-4 py-3 shadow-md flex">
    {{@notification.text}}

    <div class="mx-auto"></div>

    <div class="ml-3">
      <button
        class="px-2 py-1 text-grey-dark hover:text-white focus:outline-none focus:text-white"
        type="button"
        {{on "click" this.onDismiss}}
      >
        {{fa-icon "times"}}
      </button>
    </div>

    <div style={{this.progressWidthStyle}} class="absolute pin-b pin-l h-1 bg-green transition-width"></div>
  </div>
</div>
