<div class="flex -mx-4">
  <div class='w-2/5 flex-no-shrink mx-4'>
    <div class="bg-white shadow-lg p-4">
      {{!-- <p class='text-lg font-semibold text-center uppercase py-2 text-grey'>Choose your countries</p> --}}
      <p class='text-lg py-2'>Choose your countries:</p>
      <div class="flex -mx-2 mt-6">
        <div class='w-2/5 mx-2'>
          <div class='max-h-sm overflow-y-scroll'>
            {{#each countries as |country|}}
              <div class='truncate'>
                <button {{action 'toggleCountry' country}}
                  class='inline-block focus:outline-none focus:text-blue hover:text-blue
                  {{if (contains country selectedCountries) "text-blue font-bold"}}
                  '
                >
                  {{country.name}}
                </button>
              </div>
            {{/each}}
          </div>
        </div>

        <div class='w-3/5 mx-2'>
          <AnimatedContainer>
            {{#animated-each sortedCountries use=transition duration=350 as |country|}}
              <div class='whitespace-no-wrap inline-block bg-blue px-2 py-1 rounded text-sm text-white font-bold mr-2 mb-2'>
                {{country.name}}

                <button {{action 'toggleCountry' country}} class='text-sm text-white ml-1 p-1 opacity-50 hover:opacity-100 focus:outline-none focus:opacity-100'>
                  {{fa-icon 'times'}}
                </button>
              </div>
            {{/animated-each}}
          </AnimatedContainer>
        </div>
      </div>
    </div>
  </div>
  <div class='w-3/5 mx-4'>
    {{#docs-snippet name='template.hbs' showCopy=false title='template.hbs'}}
      {{#animated-each sortedCountries use=transition as |country|}}
        ...
      {{/animated-each}}
    {{/docs-snippet}}

    <div class="mt-4">
      {{#docs-snippet name='index-demo2-transition.js' showCopy=false title='component.js'}}
        import Component from '@ember/component';
        import move from 'ember-animated/motions/move';
        import { fadeOut, fadeIn } from 'ember-animated/motions/opacity';

        export default Component.extend({

          transition: function*({ keptSprites, insertedSprites, removedSprites }) {
            insertedSprites.forEach(sprite => {
              fadeIn(sprite);
            });
            removedSprites.forEach(sprite => {
              fadeOut(sprite);
            });
            keptSprites.forEach(sprite => {
              fadeIn(sprite);
              move(sprite);
            });
          }

        });

      {{/docs-snippet}}
    </div>
  </div>
</div>
