<div data-test-guests-demo class="lg:flex lg:-mx-4">
  <div class="lg:mx-4 lg:w-2/5 lg:flex-no-shrink">
    <div class="shadow-lg rounded-lg overflow-hidden mb-8">
      <div class="p-6">
        <div class="flex mb-3">
          <p class='text-lg'>How many guests?</p>
          <div class="ml-4 ">
            <div class="flex items-center">
              <button
                disabled={{eq this.guests 1}}
                class='
                  homepage-demo1-button
                  {{if (eq this.guests 1) ' homepage-demo1-button--disabled'}}
                '
                type="button"
                {{on "click" this.removeGuest}}
              >
                -
              </button>
              <span class='text-pink font-bold w-8 text-center text-lg'>
                {{this.guests}}
              </span>
              <button
                disabled={{eq this.guests 6}}
                class='
                  homepage-demo1-button
                  {{if (eq this.guests 6) ' homepage-demo1-button--disabled'}}
                '
                type="button"
                {{on "click" this.addGuest}}
              >
                +
              </button>
            </div>
          </div>
        </div>

        <div class='text-3xl text-pink select-none'>
          {{#if this.animationEnabled}}
            <AnimatedContainer>
              {{#animated-each (range 0 this.guests) use=this.transition}}
                <span class='inline-block'>{{fa-icon 'user'}}</span>
              {{/animated-each}}
            </AnimatedContainer>
          {{else}}
            {{#each (range 0 this.guests)}}
              <span class='inline-block'>{{fa-icon 'user'}}</span>
            {{/each}}
          {{/if}}
        </div>
      </div>

      <Index::Components::ToggleBar
        @enabled={{this.animationEnabled}}
        @onToggle={{fn (mut this.animationEnabled)}}
      >
        ✨Animate
      </Index::Components::ToggleBar>
    </div>
  </div>

  <div class='lg:mx-4 lg:w-3/5 overflow-hidden'>
    <Index::Utils::AnimatedCodeDiff
      @label="template.hbs"
      @diff={{this.templateDiff}}
      @isShowingFinal={{this.animationEnabled}}
      @onAnimationChange={{fn (mut this.isAnimating)}}
    />

    <div class="mt-4">
      <Index::Utils::AnimatedCodeDiff
        @label="component.js"
        @diff={{this.componentDiff}}
        @isShowingFinal={{this.animationEnabled}}
        @animationPaused={{this.isAnimating}}
      />
    </div>
  </div>
</div>
