<div class="scenario-each">
  <button type="button" {{on "click" this.addItem}}>Add Item</button>
  <button type="button" {{on "click" this.shuffle}}>Shuffle</button>
  <button type="button" {{on "click" this.sortNumeric}}>Sort</button>
  {{#if this.chaos.isRunning}}
    <button type="button" {{on "click" this.stopChaos}}>Stop</button>
  {{else}}
    <button type="button" {{on "click" this.startChaos}}>Auto</button>
  {{/if}}

  <AnimatedContainer>
    {{#animated-each this.items key="id" use=this.transition as |item|}}
      <div>
        {{item.id}}
        <button type="button" {{on "click" (fn this.removeItem item)}}>X</button>
        <button type="button" {{on "click" (fn this.replaceItem item)}}>R</button>
        <button type="button" {{on "click" (fn this.mutate item)}}>M</button>
      </div>
    {{/animated-each}}
  </AnimatedContainer>

  This is after the list. {{this.message}}
</div>
