<div class="scenario-swapping-lists">
  <div style="position: absolute; top: 0; left: 0">
    <AnimatedOrphans/>
  </div>
  <div>
    <button type="button" {{on "click" this.swap}}>Swap</button>
    <label>
      <input
        type="checkbox"
        checked={{this.distinguishSides}}
        {{on "change" this.toggleDistinguishSides}}
      >
      Distinguish by color
    </label>
    <label class="sending-side">
      <input
        type="checkbox"
        checked={{this.animateSendingSide}}
        {{on "change" this.toggleAnimateSendingSide}}
      >
      Animate sending side
    </label>
  </div>

  {{#if this.leftItems}}
    <AnimatedContainer class="left">
      {{#animated-each this.leftItems use=this.transition key="id" as |item|}}
        <div class={{if this.distinguishSides "left-item"}} >
          {{item.id}}
        </div>
      {{/animated-each}}
    </AnimatedContainer>
  {{else}}
    <AnimatedContainer class="right">
      {{#animated-each this.rightItems use=this.transition key="id" as |item|}}
        <div>
          {{item.id}}
        </div>
      {{/animated-each}}
    </AnimatedContainer>
  {{/if}}
</div>
