{{#docs-viewer as |viewer|}}

  {{#viewer.nav as |nav|}}
    {{nav.item 'Overview' 'docs.index'}}

    {{nav.item 'Animator Components' 'docs.animator-components'}}
    {{#nav.subnav as |sub|}}
      {{sub.item 'animated-each' 'docs.animator-components.each'}}
      {{sub.item 'animated-value' 'docs.animator-components.value'}}
      {{sub.item 'animated-if' 'docs.animator-components.if'}}
    {{/nav.subnav}}

    {{nav.item 'Support Components' 'docs.support-components'}}
    {{#nav.subnav as |sub|}}
      {{sub.item 'animated-container' 'docs.support-components.container'}}
      {{sub.item 'animated-orphans' 'docs.support-components.orphans'}}
      {{sub.item 'animated-beacon' 'docs.support-components.beacon'}}
    {{/nav.subnav}}

    {{nav.item 'Transition Context' 'docs.transition-context'}}
    {{nav.item 'Sprite API' 'docs.sprite-api'}}
    {{nav.item 'Built In Transitions' 'docs.built-in-transitions'}}
    {{nav.item 'Built In Motions' 'docs.built-in-motions'}}
    {{nav.item 'Author Motions' 'docs.authoring-motions'}}
  {{/viewer.nav}}

  {{#viewer.main}}
    <div class="docs-container docs__center">
      <div class="docs-section">
        {{outlet}}
      </div>
    </div>
  {{/viewer.main}}

{{/docs-viewer}}
