<div class="inline-text-scenario">
  <button {{action "toggle"}}>Toggle</button>

  {{#if tableMode}}
    <ul>
      <li>{{animated-text "framework"}}</li>
      <li>{{animated-text "ambitious"}}</li>
      <li>{{animated-text "applications"}}</li>
    </ul>
  {{else}}
    <p>
      A {{animated-text "framework"}} for creating {{animated-text "ambitious"}} web {{animated-text "applications"}}.
    </p>
  {{/if}}
</div>